
html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}
header{

    width: 520px;
    display: block;
    margin: 0 auto;
}
header>p{
    padding-left: 20px;
    font-size: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 17px;
}

.warp {
    margin: 20px auto;
    width: 520px;
}

.comment_body {
    width: 500px;
    /*background-color: #f9f9f9;*/
    /*border: 1px solid #e2e2e2;*/
    margin: 6px 0 6px;
    padding: 3px;
    border-radius: 4px;
    clear: both;
    display: inline-block;
}

.comment_meta {
    width: 80px;
    float: left;
    margin: 3px;
}

.comment_content {
    width: 390px;
    padding: 10px;
    position: relative;
    float: right;
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.header_box > img {
    width: 54px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.comment_text {
    clear: both;
    position: relative;
    color: #4e4e4e;
    font-size: 14px;

}

.comment_info {
    position: relative;
    bottom: 0;
    left: 0;
    color: #c6c6c6;
    font-size: 13px;
    padding: 10px 0 0 0;
}

.nickname_show {
    font-size: 12px;
    text-align: center;
    color: #585858;
}

.dot1, .dot2 {
    display: inline-block;
    border: 6px solid #dcdcdc;
    width: 1px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    position: relative;
    left: -23px;
}

.dot2 {
    left: -34px;
    border: 6px solid #f9f9f9;
    width: 1px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    position: relative;
}

.dot {
    display: inline-block;
    /* height: 0; */
    position: absolute;
}

.comment_succeed, .comment_faild {
    width: 94%;
    height: auto;
    text-align: center;
    font-size: 14px;
    margin: 0 auto
}

.comment_succeed > p, .comment_faild > p {
    margin: 5px;
    padding: 0;
}

.comment_succeed {
    background-color: #def8e2;
    color: #637564;
    border: 1px solid #9be49f;

}

.comment_faild {
    background-color: #fdbfbf;
    color: #832f2f;
    border: 2px solid #ff7c7c;
}

.form_post {
    width: 94%;
    margin: 0 auto;
    height: 186px;
    background-color: #f5f5f5;
    /* height: 300px; */
    margin-top: 21px;
    border: 1px solid #dedede;
    border-radius: 3px;
}

.form_content {
    width: 100%;
    margin: 0 auto;
}

.form_left {
    width: 225px;
    float: left;
    margin-left: 10px;
}

.form_left > input {
    width: 200px;
    height: 20px;
    margin: 10px 0 0 0;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    padding: 2px 5px 2px;
}

.form_right {
    width: 238px;
    float: left;
}

.form_right > textarea {
    width: 222px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    height: 88px;
    margin-top: 10px;
    /* background-color: white; */
    resize: none;
    padding: 4px 6px 4px;
}

.form_right > p > input[type=submit] {
    position: relative;
    width: 90px;
    right: 3px;
    height: 29px;
    background-color: #2196F3;
    border: 1px solid #03A9F4;
    color: #fff;
    border-radius: 4px;
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    cursor: pointer;

}

.btn_sub {
    text-align: right;

}
.page_rows{
    /*background-color: #03A9F4;*/
}
.page_rows>p{
    margin: 0;
    padding-right: 13px;
    text-align: right;
    font-size: 12px;
}
.page_selectd,.page_rows>p>a{
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    border-radius: 2px;
    color: #444;
    padding: 2px 6px 5px;
    margin: 0 2px 0;
    outline: none;
}
.page_selectd{
    background-color: #afafaf;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}